<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="favicon-32x32" href="/assets/images/favicon_io/favicon-32x32.png">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" \/>
    <link rel="stylesheet" href="/assets/custom.css">
    <script src="/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="/assets/toastr/toastr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Shoe Ecommerce</title>
</head>

<body>
<header class="py-2 border-bottom">
    <div class="container d-flex align-items-center justify-content-between" style="grid-template-columns: 1fr 2fr;"
         bis_skin_checked="1">
        <div class="d-flex" style="margin-right: 30px" bis_skin_checked="1">
            <a href="/products">
                <i class="fa-solid fa-cart-plus fa-lg"></i>
                DashBoard
            </a>
        </div>
        <a href="/carts">
            Ronaldo
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-2 mt-1">
            <h4>Menu</h4>

            <div class="nav-option my-1">
                <i class="fa-solid fa-cart-plus fa-lg"></i>
                Order List
            </div>

            <div class="nav-option my-1">
                <i class="fa-solid fa-cart-plus fa-lg"></i>
                Products
            </div>
        </div>

        <!-- ======================PRODUCTS============================ -->
        <div class="col-lg-10 mt-1">
            <h5>Order Management</h5>
            <table class="table table-striped table-hover tbOrder">
                <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Total Products</th>
                    <th>Subtotal</th>
                    <th>Shipping</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nov 29 2023</td>
                    <td>3</td>
                    <td>$233</td>
                    <td>Free</td>
                    <td>$555</td>
                    <td><span>draft</span></td>
                    <td>Ronaldo</td>
                    <td>
                        <a class="btnDetail" data-bs-toggle="modal" data-bs-target="#modalOrderDetail">
                            <i class="fa-solid fa-list"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="modalOrderDetail" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content modal-order-detail">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5">Order Details</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="modal-body-item">
                                <h6>Order Information</h6>
                                <div class="d-flex justify-content-between info">
                                    <div>Subtotal</div>
                                    <div>$600</div>
                                </div>
                                <div class="d-flex justify-content-between info">
                                    <div>Shipping</div>
                                    <div>Free</div>
                                </div>
                                <div class="d-flex justify-content-between info">
                                    <div>Total</div>
                                    <div>$600</div>
                                </div>
                            </div>
                            <div class="modal-body-item">
                                <h6>Customer Information</h6>
                                <div class="d-flex justify-content-between info">
                                    <div>Fullname</div>
                                    <div>Ronaldo</div>
                                </div>
                                <div class="d-flex justify-content-between info">
                                    <div>Email</div>
                                    <div>ronaldo@gmail.com</div>
                                </div>
                                <div class="d-flex justify-content-between info">
                                    <div>Mobile</div>
                                    <div>777777777777</div>
                                </div>
                                <div class="d-flex justify-content-between info">
                                    <div>Address</div>
                                    <div>07 Lisbon, Portugal</div>
                                </div>
                            </div>
                            <div class="modal-body-item">
                                <h6>Order details</h6>
                                <table class="table table-striped">
                                    <tr>
                                        <td><img src="https://m.media-amazon.com/images/I/71pf7VFs9CL._AC_UX575_.jpg" alt=""></td>
                                        <td>Vans Unisex Low-Top</td>
                                        <td>2</td>
                                        <td>$555</td>
                                        <td>$555</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://m.media-amazon.com/images/I/71pf7VFs9CL._AC_UX575_.jpg" alt=""></td>
                                        <td>Vans Unisex Low-Top</td>
                                        <td>1</td>
                                        <td>$333</td>
                                        <td>$333</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://m.media-amazon.com/images/I/71pf7VFs9CL._AC_UX575_.jpg" alt=""></td>
                                        <td>Vans Unisex Low-Top</td>
                                        <td>1</td>
                                        <td>$333</td>
                                        <td>$333</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/order.js"></script>

</body>