<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="favicon-32x32" href="/assets/images/favicon_io/favicon-32x32.png">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" \/>
    <link rel="stylesheet" href="/assets/custom.css">
    <script src="/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="/assets/toastr/toastr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Shoe Ecommerce</title>
</head>

<body>
<header class="py-2 border-bottom">
    <div class="container d-flex align-items-center justify-content-between" style="grid-template-columns: 1fr 2fr;"
         bis_skin_checked="1">
        <div class="d-flex" style="margin-right: 30px" bis_skin_checked="1">
            <a href="/products">
                <i class="fa-solid fa-cart-plus fa-lg"></i>
                DashBoard
            </a>
        </div>
        <a href="/carts">
            Ronaldo
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-2 mt-1 navOrder">
            <h5>Menu</h5>

            <div class="nav-option py-2 orderElement">
                <i class="fa-solid fa-cart-plus fa-lg"></i>
                Order List
            </div>

            <div class="nav-option py-2 productElement">
                <i class="fa-brands fa-paypal fa-xl"></i>
                Products
            </div>
        </div>

        <!-- ======================ORDERS============================ -->
        <div class="col-lg-10 mt-1 orderDetailModal hide">
            <h5>Order Management</h5>
            <table class="table table-striped table-hover tbOrder">
                <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Total Products</th>
                    <th>Subtotal</th>
                    <th>Shipping</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="renderOrder">

                </tbody>
            </table>
        </div>

        <div class="col-lg-10 mt-1 productList">
            <div class="d-flex justify-content-between px-2">
                <h5>Product List Management</h5>
                <button class="btn btn-warning">
                    <i class="fa-solid fa-plus"></i>
                    Add new product
                </button>
            </div>

            <div class="d-flex align-items-center p-2 gap-2">
                <label for="field">Field</label>
                <select class="form-select" id="field">
                    <option>Id</option>
                    <option>Title</option>
                    <option>Category</option>
                    <option>Color</option>
                    <option>Company</option>
                </select>

                <label for="order">Order</label>
                <select class="form-select" id="order">
                    <option>Ascendant</option>
                    <option>Descendant</option>
                </select>
            </div>

            <table class="table table-striped table-hover tbOrder">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Color</th>
                    <th>Category</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Rate</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="renderProduct">
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://m.media-amazon.com/images/I/71oEKkghg-L._AC_UX575_.jpg" alt="error">
                            <label>Nike Running Shoe</label>
                        </div>
                    </td>
                    <td><span>Green</span></td>
                    <td>Sneakers</td>
                    <td>Adidas</td>
                    <td>
                        <span>$120</span>
                        <span>$200</span>
                    </td>
                    <td>
                        <div>4 <i class="fa-solid fa-star fa-xs" style="color: #f4f41a;"></i></div>
                        <div>123<i class="fa-solid fa-eye"></i></div>
                    </td>
                    <td>
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/assets/order.js"></script>

</body>